:root {
    font-size: 18px;

    @media(max-width: 1300px) {
        font-size: 17px;
    }

    @media(max-width: 900px) {
        font-size: 16px;
    }



    --black: #0A0206;
    --primary: #ff2f79;
    --primary-dark: #dd1f63;
}

@import 'reset';
@import 'home';
@import 'guide';



